<!DOCTYPE html>
<html>
  <head>
    <title>localhost:3000<%= title || "" %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
  </head>
  <body>
     <%= 1 + 2 %>